body {
    background-color: rgb(0, 0, 0);
  }
  
  h1,h2 {
    color: white;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35 px;
  }

  h3{
    color: white;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size:30 px;
  }
  
  p,li {
    color:rgb(255, 255, 255);
    font-family: Arial;
    font-size: 25px;
  }

 .imagebox{
    width: 600px;
    border: 8px solid rgb(255, 154, 255);
    background-color: rgb(13, 11, 104);
    padding: 0px;
    margin: 20px;
  }

  .textbox{
    width: 1024 px;
    border: 5px solid rgb(100, 100, 100);
    background-color: rgb(39, 39, 39);
    padding: 50px;
    margin: 20px;
    font-size: 25;
  }

  a{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: left;
    font-size: xx-large;
    text-emphasis-color: white;
    color: white;
  }

  a:visited{
    color:rgb(255, 255, 255)
  }

  iframe{
    margin: 20px;
  }

  button{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 50;
    width:fit-content;
    height:fit-content;
    background-color: hotpink;
    color: black;
  }
